<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/sun_img.jpeg">
    <title>Event planner</title>
</head>
<body>
    <h1>MJK Events planner</h1>
    <ul>
        <li><a href='/events-list'>Home</a></li>
        <li><a href='/events/form'>form</a></li>
    </ul>

    <hr>
    {% block content %}

    {% endblock %}
    
</body>
</html>